.catalog {
    h1 {
        text-align: center;
        border: none;
        margin-block: 1.5em;
    }

    ol {
        counter-reset: c1;
        padding-inline-start: 1.2em;
    }

    >ol>li>ol {
        counter-reset: c2;
        padding-inline-start: 2em;
        margin-block: 0.2em;
    }

    >ol>li>ol>li>ol {
        counter-reset: c3;
        padding-inline-start: 2em;
        margin-block: 0.2em;
    }

    >ol>li {
        counter-increment: c1;
        font-weight: bold;
        padding-inline-start: 1.2em;
        margin-block: 1em;
    }

    >ol>li>ol>li {
        counter-increment: c2;
        font-weight: normal;
        padding-inline-start: 1em;
        margin-block: 0.2em;
    }

    >ol>li>ol>li>ol>li {
        counter-increment: c3;
        font-weight: normal;
        padding-inline-start: 1em;
        margin-block: 0.2em;
    }

    li::marker {
        font-family: "CMU Serif";
        font-size: 1.08em;
        color: var(--text);
    }

    >ol>li::marker {
        content: counter(c1);
    }

    >ol>li>ol>li::marker {
        content: counter(c1) "." counter(c2);
    }

    >ol>li>ol>li>ol>li::marker {
        content: counter(c1) "." counter(c2) "." counter(c3);
    }

    .title-row {
        display: flex;
        white-space: nowrap;
    }

    .catalog-page-number {
        font-family: "CMU Serif";
        font-size: 1.08em;
        text-align: right;
        width: 2em;
        flex-shrink: 0;
        margin-left: auto;
    }

    .dots {
        font-weight: normal;
        color: var(--text-light);
        direction: rtl;
        vertical-align: 1em;
        overflow: hidden;
        margin-left: 1em;
    }
}
