:root {
    --text-color-1: #d83931;
    --text-color-2: #de7802;
    --text-color-3: #dc9b04;
    --text-color-4: #2ea121;
    --text-color-5: #245bdb;
    --text-color-6: #6425d0;
    --text-color-7: #646a73;

    --bg-color-1: #fbbfbc;
    --bg-color-2: #feddb6;
    --bg-color-3: #fff895;
    --bg-color-4: #c5f1c1;
    --bg-color-5: #cfddfe;
    --bg-color-6: #dcc9fb;
    --bg-color-7: #e5e6e9;
    --bg-color-8: #f76964;
    --bg-color-9: #ffa53d;
    --bg-color-10: #ffe928;
    --bg-color-11: #62d256;
    --bg-color-12: #9ebbfe;
    --bg-color-13: #c4a4fa;
    --bg-color-14: #bbbfc4;
    --bg-color-15: #f2f3f5;

    --table-color-yellow: #FFF258;
    --table-color-lightgray: #dee0e3;
    --table-color-lightgreen: #d9f5d6;
    --table-color-lightblue: #e1eaff;
}

.text-color-1 {
    color: var(--text-color-1);
}

.text-color-2 {
    color: var(--text-color-2);
}

.text-color-3 {
    color: var(--text-color-3);
}

.text-color-4 {
    color: var(--text-color-4);
}

.text-color-5 {
    color: var(--text-color-5);
}

.text-color-6 {
    color: var(--text-color-6);
}

.text-color-7 {
    color: var(--text-color-7);
}

.bg-color-1 {
    background-color: var(--bg-color-1);
}

.bg-color-2 {
    background-color: var(--bg-color-2);
}

.bg-color-3 {
    background-color: var(--bg-color-3);
}

.bg-color-4 {
    background-color: var(--bg-color-4);
}

.bg-color-5 {
    background-color: var(--bg-color-5);
}

.bg-color-6 {
    background-color: var(--bg-color-6);
}

.bg-color-7 {
    background-color: var(--bg-color-7);
}

.bg-color-8 {
    background-color: var(--bg-color-8);
}

.bg-color-9 {
    background-color: var(--bg-color-9);
}

.bg-color-10 {
    background-color: var(--bg-color-10);
}

.bg-color-11 {
    background-color: var(--bg-color-11);
}

.bg-color-12 {
    background-color: var(--bg-color-12);
}

.bg-color-13 {
    background-color: var(--bg-color-13);
}

.bg-color-14 {
    background-color: var(--bg-color-14);
}

.bg-color-15 {
    background-color: var(--bg-color-15);
}
