.text-color-1 {
    color: #d83931;
}

.text-color-2 {
    color: #de7802;
}

.text-color-3 {
    color: #dc9b04;
}

.text-color-4 {
    color: #2ea121;
}

.text-color-5 {
    color: #245bdb;
}

.text-color-6 {
    color: #6425d0;
}

.text-color-7 {
    color: #646a73;
}

.bg-color-1 {
    background-color: #fbbfbc;
}

.bg-color-2 {
    background-color: #feddb6;
}

.bg-color-3 {
    background-color: #fff895;
}

.bg-color-4 {
    background-color: #c5f1c1;
}

.bg-color-5 {
    background-color: #cfddfe;
}

.bg-color-6 {
    background-color: #dcc9fb;
}

.bg-color-7 {
    background-color: #e5e6e9;
}

.bg-color-8 {
    background-color: #f76964;
}

.bg-color-9 {
    background-color: #ffa53d;
}

.bg-color-10 {
    background-color: #ffe928;
}

.bg-color-11 {
    background-color: #62d256;
}

.bg-color-12 {
    background-color: #9ebbfe;
}

.bg-color-13 {
    background-color: #c4a4fa;
}

.bg-color-14 {
    background-color: #bbbfc4;
}

.bg-color-15 {
    background-color: #f2f3f5;
}
