/* 从 Google Fonts 引入 Noto Sans SC、Noto Serif SC 和 JetBrains Mono 字体 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

/* 从本地引入 CMU Serif 字体 */
@font-face {
    font-family: 'CMU Serif';
    src: url('../fonts/cmunrm.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CMU Serif';
    src: url('../fonts/cmunbx.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'CMU Serif';
    src: url('../fonts/cmunti.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'CMU Serif';
    src: url('../fonts/cmunbi.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}

/* @font-face {
    font-family: 'JetBrains Mono';
    src: url('/fonts/JetBrainsMono-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('/fonts/JetBrainsMono-Italic-VariableFont_wght.ttf') format('truetype');
    font-style: italic;
}

@font-face {
    font-family: 'Noto Serif SC';
    src: url('/fonts/NotoSerifSC-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Noto Sans SC';
    src: url('/fonts/NotoSansSC-VariableFont_wght.ttf') format('truetype');
} */
