/* 公式改颜色 */
/* #doxcnBSrDVzqCqX4Edp9KnIhZIb .equation:nth-child(1),
#doxcnrS61D3M4lsfETDG6OGabCd .equation:nth-child(1),
#doxcnLgqmLjgIzFscqC9qZHOpKb .equation:nth-child(10) {
    color: var(--text-color-1)
} */

/* θ 改字体 */
#AGQxdN0dqobqY9xLZbuc2m0snpe :is(.equation:nth-child(3), .equation:nth-child(5)) .base>.mord.mathnormal {
    font-family: KaTeX_Math
}

/* 标题悬挂 */
#GjubdG4hloUr4axCXl2c8ahqnQh {
    display: flex;
}

/* 减少间距 */
#XPWYdH766otOkUxPQrSctkm2nNc {
    margin-block: 0;
}

[lang="zh"] :lang(en) {
    background-color: aqua;
}
