/* 公式改颜色 */
/* #doxcnBSrDVzqCqX4Edp9KnIhZIb .equation:nth-child(1),
#doxcnrS61D3M4lsfETDG6OGabCd .equation:nth-child(1),
#doxcnLgqmLjgIzFscqC9qZHOpKb .equation:nth-child(10) {
    color: var(--text-color-1)
} */

/* θ 改字体 */
#AGQxdN0dqobqY9xLZbuc2m0snpe :is(.equation:nth-child(3), .equation:nth-child(5)) .base>.mord.mathnormal {
    font-family: KaTeX_Math
}

/* 标题悬挂 */
#doxcnDhZHykVyCS6ZrCaLGS2zHb,
#GjubdG4hloUr4axCXl2c8ahqnQh {
    display: flex;
}

/* 换行控制 */
#AGQxdN0dqobqY9xLZbuc2m0snpe {
    width: 100.5%;
}

#doxcnDTK4iz1JwlHs5OUgnWI4Ct {
    width: 102%;
}

/* 脚注边距 */
#Sm47dY93To2WpkxC2t6czbQtnyd>.footnote-ref,
#ZiFJdx8gCoqRflxNNrlcaiO4n9e>.footnote-ref,
#AIFSdDyQyoPipCx9iCKcySOxnwg>.footnote-ref,
#doxcnfubSgVEcgikVgUQRyf7gIf .footnote-ref,
#doxcnmTD6mAtIQPvqBym0NxFCyc>.footnote-ref,
#doxcn4l08PJ81V3u7LNYvbNuLyI>.footnote-ref {
    margin-inline-start: 0.2em;
    margin-inline-end: 0.2em;
}

/* 列表 marker 加粗 */
#朴素的购买策略-无序列表>li::marker {
    font-weight: 600;
}
