:root {
    --sans-font: "Noto Sans SC", sans-serif;
    --serif-font: "Noto Serif SC", serif;
    --mono-font: "Jetbrains Mono", monospace;
    --main-font: var(--serif-font);
    --text: black;
    --bg: white;
    --text-light: #6a6a6a;
    --border: #b8b8b8;
    --code: #0a3069;
    --code-bg: #f0f2f4;
    --paragraph-margin: 0.6em;
}

* {
    box-sizing: border-box;
}

html {
    font-family: var(--main-font);
    font-size: 14px;
    line-height: 1.6;
    overflow-wrap: break-word;
}

:is(p, li, h1, h2, h3, h4, h5, h6, figcaption, td, th) :lang(en) {
    font-family: "CMU Serif";
    font-size-adjust: 0.46;
    line-height: calc(1.6 / 1.1);
    vertical-align: 0.02em;
}

/* :is(p, li, h1, h2, h3, h4, h5, h6) :is(b, strong) :lang(en) {
    font-size-adjust: 1.15;
    vertical-align: 0.02em;
} */

body {
    color: var(--text);
    background-color: var(--bg);
    width: min(100% - 2em, calc(176mm - 2 * 18mm));
    margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-block-start: calc(0.8em + 0.8rem);
    margin-block-end: calc(0.2em + 0.8rem);
    break-after: avoid;
    break-inside: avoid;
}

h1,
h2 {
    padding-block-end: 0.5em;
    border-block-end: 0.05rem solid var(--border);
}

h1 {
    font-size: 2.5em;
    break-before: page;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.65em;
}

h4 {
    font-size: 1.4em;
}

h5 {
    font-size: 1.25em;
}

h6 {
    font-size: 1.15em;
}

p {
    margin-block: var(--paragraph-margin);
}

u {
    text-decoration: underline;
    text-underline-offset: 0.2em;
    text-decoration-thickness: 0.05em;
}

a {
    color: #0077b6;
    text-decoration: none;
}

a:hover {
    color: #3d9ceb;
    text-decoration: underline;
    text-underline-offset: 0.2em;
    text-decoration-thickness: 0.05em;
}

a.url,
a.url span {
    font-family: var(--mono-font);
    font-weight: 300;
    font-size-adjust: 0.5;

}

blockquote {
    color: var(--text-light);
    padding-inline-start: 1em;
    border-inline-start: 0.2rem solid var(--border);
    margin-inline: 0;
    margin-block: var(--paragraph-margin);
}

hr {
    border: none;
    border-block-start: 0.05rem solid var(--border);
    margin-block: calc(3 * var(--paragraph-margin));
}

figure {
    margin-inline: 0;
    break-inside: avoid;
}

img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 0.45rem;
    box-shadow: 0 0 0.45rem 0.05rem rgb(0 0 0 / 25%);
    margin: auto;
}

img.board {
    box-shadow: none;
}

figcaption {
    text-align: center;
    color: var(--text-light);
    margin-block-start: 0.5em;
}

pre,
.code-container {
    display: block;
    font-size-adjust: 0.5;
    font-weight: 300;
    line-height: 1.5;
    padding: 0.8em;
    background-color: var(--code-bg);
    border: 0.05rem solid var(--border);
    border-radius: 0.45rem;
    margin-block: calc(2 * var(--paragraph-margin));
    break-inside: avoid;
}

code {
    font-family: var(--mono-font);
    font-weight: 300;
    color: var(--code);
    white-space: pre-wrap;
    overflow-x: auto;
}

ul,
ol {
    margin-block: var(--paragraph-margin);
}

ul {
    padding-inline-start: 1.5em;
}

ol {
    padding-inline-start: 2em;
}

li {
    margin-block: var(--paragraph-margin);
}

ul>li {
    padding-inline-start: 0.5em;
}

:is(dir, menu, ol, ul) ul {
    list-style-type: disc;
}

ul>li::marker,
ol>li::marker {
    font-family: var(--mono-font);
    color: #1456f0;
}

.katex {
    /* font-family: "CMU Serif", "KaTeX_Main", "Times New Roman", serif; */
    font-size: 1em;
    vertical-align: 0.05em;
    margin: 0 0.2em;
}

.katex .mathnormal,
.katex .mord,
.katex .mopen,
.katex .mclose,
.katex .mpunct,
.katex .minner,
.katex .mbin {
    font-family: "CMU Serif", "KaTeX_Main", "Times New Roman", serif;
}

.katex .amsrm,
.katex .mathbb,
.katex .textbb {
    font-family: KaTeX_AMS
}

.grid-container {
    display: flex;
    gap: 1rem;
    margin-block: var(--paragraph-margin)
}

@media screen and (max-width: 600px) {
    .grid-container {
        flex-direction: column;
    }
}

.doc-logo {
    margin-inline: 0.2em;
    vertical-align: -0.14em;
}

.callout-outer {
    display: flex;
    gap: 0.7em;
    padding-inline: 1em;
    padding-block: 0.8em;
    background-color: #fff5eb;
    border: 0.08rem solid #fed4a4;
    border-radius: 0.7rem;
    margin-block: calc(2 * var(--paragraph-margin));
    break-inside: avoid;
}

.callout-icon {
    font-size: 1.1em;
    margin-top: -0.2em;
    color: #ffaa00;
}

.callout-inner>:first-child,
.grid-column>:first-child,
blockquote>:first-child,
td>:first-child {
    margin-block-start: 0;
}

.callout-inner>:last-child,
.grid-column>:last-child,
blockquote>:last-child,
td>:last-child {
    margin-block-end: 0;
}

/* 打印样式 */
@media print {
    @page {
        /* margin: 15mm 0; */
        /* margin: calc(2 * 15mm) 0; */
        margin: calc(4 * 15mm) 0;
        /* size: 176mm 250mm; */
        /* size: calc(2 * 176mm) calc(2 * 250mm); */
        size: calc(4 * 176mm) calc(4 * 250mm);

        @bottom-center {
            /* content: counter(page) " / " counter(pages); */
            content: counter(page);
            font-family: "CMU Serif";
            font-size: 1em;
            font-size-adjust: 0.46;
            color: var(--text-light);
            vertical-align: 3em;
        }
    }

    html {
        /* font-size: 14px; */
        /* font-size: calc(2 * 14px); */
        font-size: calc(4 * 14px);
    }

    body {
        /* width: calc(100% - 2 * 18mm); */
        /* width: calc(100% - 4 * 18mm); */
        width: calc(100% - 8 * 18mm);
    }

    h1 {
        margin-block-start: 0;
    }

    figure {
        padding-block-start: 0.45rem;
        margin-block-start: calc(1em - 0.45rem);
    }
}
