:root {
    --sans-font: "Noto Sans SC", sans-serif;
    --en-serif-font: "CMU Serif", serif;
    --CJK-serif-font: "Noto Serif SC", serif;
    --mono-font: "Jetbrains Mono", monospace;
    --text: black;
    --bg: white;
    --text-light: #6a6a6a;
    --border: #b8b8b8;
    --code: #0a3069;
    --code-bg: #f0f2f4;
    --paragraph-margin: 0.6em;
}

* {
    box-sizing: border-box;
}

html {
    font-family: var(--CJK-serif-font);
    font-size: 14px;
    line-height: 1.6;
    overflow-wrap: break-word;
}

span:lang(en) {
    font-family: var(--en-serif-font);
    font-size: 1.08em;
    line-height: 1;
    vertical-align: 0.02em;
}

body {
    color: var(--text);
    background-color: var(--bg);
    width: min(100% - 2em, calc(176mm - 2 * 20mm));
    margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-block-start: calc(0.6em + 0.6rem);
    margin-block-end: calc(0.3em + 0.3rem);
    break-after: avoid;
    break-inside: avoid;
}

h1+h2,
h2+h3,
h3+h4,
h4+h5,
h5+h6 {
    margin-block-start: 0;
}

h1 {
    font-size: 2em;
    padding-block-end: 0.3em;
    border-block-end: 0.05rem solid var(--border);
    break-before: page;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.4em;
}

h4 {
    font-size: 1.3em;
}

h5 {
    font-size: 1.2em;
}

h6 {
    font-size: 1.1em;
}

p {
    margin-block: var(--paragraph-margin);
    break-inside: avoid;
}

u {
    text-decoration: underline;
    text-underline-offset: 0.2em;
    text-decoration-thickness: 0.05rem;
}

a {
    color: #0077b6;
    text-decoration: none;
}

a:hover {
    color: #3d9ceb;
    text-decoration: underline;
    text-underline-offset: 0.2em;
    text-decoration-thickness: 0.05em;
}

.url {
    font-family: var(--mono-font);
    font-weight: 300;
    font-size: 0.9em;
}

blockquote {
    color: var(--text-light);
    padding-inline-start: 1em;
    border-inline-start: 0.2rem solid var(--border);
    margin-inline: 0;
    margin-block: var(--paragraph-margin);
}

hr {
    border: none;
    border-block-start: 0.05rem solid var(--border);
    margin-block: calc(2 * var(--paragraph-margin));
}

figure {
    margin-inline: 0;
    margin-block: calc(2 * var(--paragraph-margin));
    break-inside: avoid;
}

img {
    display: block;
    width: 100%;
    height: auto;
    /* border-radius: 0.45rem; */
    /* box-shadow: 0 0 0.45rem 0.05rem rgb(0 0 0 / 25%); */
    margin: auto;
}

img.board {
    box-shadow: none;
}

figcaption {
    font-size: 0.9em;
    text-align: center;
    color: var(--text-light);
    margin-block-start: 0.4em;
}

pre,
.code-container {
    display: block;
    font-weight: 300;
    line-height: 1.5;
    padding: 0.8em;
    background-color: var(--code-bg);
    border: 0.05rem solid var(--border);
    border-radius: 0.45rem;
    margin-block: calc(2 * var(--paragraph-margin));
    break-inside: avoid;
}

code {
    font-family: var(--mono-font);
    font-weight: 300;
    color: var(--code);
    white-space: pre-wrap;
    overflow-x: auto;
}

ul,
ol {
    margin-block: var(--paragraph-margin);
}

ul {
    padding-inline-start: 1.5em;
}

ol {
    padding-inline-start: 2em;
}

li {
    margin-block: var(--paragraph-margin);
}

ul>li {
    padding-inline-start: 0.5em;
}

:is(dir, menu, ol, ul) ul {
    list-style-type: disc;
}

ul>li::marker,
ol>li::marker {
    font-family: var(--mono-font);
    font-weight: 300;
}

/* 打印样式 */
@media print {
    :root {
        --scale: 4;
    }

    @page {
        margin: calc(var(--scale) * 13mm) 0;
        size: calc(var(--scale) * 176mm) calc(var(--scale) * 250mm);
    }

    html {
        font-size: calc(var(--scale) * 14px);
    }

    body {
        width: calc(100% - 2 * var(--scale) * 20mm);
    }

    h1 {
        margin-block-start: 0;
    }
}

* {
    break-before: unset !important;
    /* break-after: unset !important;
    break-inside: unset !important; */
}

.page-header {
    /* position: relative; */
    display: flex;
    /* display: none; */
    justify-content: space-between;
    break-before: page !important;
    /* padding-top: 2em; */
    /* background-color: #bcbcbc; */
    margin-block-end: 1.5em;
}

.page-header+* {
    margin-block-start: 0;
}
